{% extends 'base.html' %}

{% block title %}Inicio - KontaGo{% endblock %}

{% block content %}
    <h2 style="text-align:center; color:#5c3d2e; font-size:5rem; font-family: 'Times New Roman', Times, serif;" >KontaGo</h2>

    <div style="text-align:center; margin-top:2rem;">
        <a href="{% url 'inventory_display' %}" 
           class="cta-btn" 
           style="background:#b08968; color:#fff; text-decoration:none; padding:0.8rem 2rem; border-radius:6px; margin:0 1rem;">
           📦 Ver Inventario
           
        </a>

        <a href="{% url 'supplier_list' %}" 
           class="cta-btn" 
           style="background:#d17a22; color:#fff; text-decoration:none; padding:0.8rem 2rem; border-radius:6px; margin:0 1rem;">
           🏢 Ver Proveedores
        </a>

        <a href="{% url 'register_invoice' %}" 
           class="cta-btn" 
           style="background:#6a994e; color:#fff; text-decoration:none; padding:0.8rem 2rem; border-radius:6px; margin:0 1rem;">
           🧾 Manejo de Facturas
        </a>
    </div>
{% endblock %}
